@import 'bootstrap/scss/bootstrap';

:root {
  --background: white;
  --navbar-background: #63D471;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: #34be45;
  --link-color: #494949;
  --border-color: #63D471;
  --link-color-active: black;
  --size: 1rem;
  --image-greyscale: grayscale(0%);
}

[data-theme='grey'] {
  --background: #2e2e2e;
  --navbar-background: gray;
  --text-primary: floralwhite;
  --text-secondary: floralwhite;
  --accent: #5d5d5d;
  --link-color: white;
  --border-color: #949494;
  --link-color-active: floralwhite;
  --image-greyscale: grayscale(100%);
}

[data-theme='black'] {
  --background: black;
  --navbar-background: black;
  --text-primary: yellow;
  --text-secondary: yellow;
  --accent: #2e2e2e;
  --link-color: yellow;
  --active-button: #2e2e2e;
  --border-color: grey;
  --link-color-active: orange;
  --image-greyscale: grayscale(100%);
}


img {
    filter: var(--image-greyscale);
}

@media screen and (min-width: 800px) {
    img {
        max-height: 45em;
    }
}

[size-theme='size-one'] {
    --size: 1rem;
}

[size-theme='size-two'] {
    --size: 2rem;
}

body {
  background-color: var(--background);
  color: var(--font-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#button2 {
    background-color: #2e2e2e;
    border-color: #535353;
    .dot {
      color: floralwhite;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: normal;
    }
}

#button3 {
    background-color: black;
    border-color: #2e2e2e;
    .dot {
      color: yellow;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: normal;
    }
}

.dot {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: normal;
}

.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.toggle-theme-wrapper span {
  font-size: 28px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: cornflowerblue;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#navBar {
  background-color: var(--navbar-background) !important;
  color: var(--font-color);
  border-style: solid;
  border-color: var(--border-color);
  border-width: 0.5px;
  padding: 0px;
}

#navbar-nav {
  height: 100%;
}

#navBar .a {
  color: var(--link-color);
}

.collapse {
  &:not(.show) {
    height: 4em;
  }
  #button-bar {
    display: flex;
    flex-direction: row;
  }
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  &.active {
    background-color: var(--accent);
    color: var(--link-color-active);
  }
}

#link-bar {
  height: 100%;
  display: flex;
}

#button-bar {
  margin-left: auto;
}

a:hover {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}

a {
  font-weight: bold;
  font-size: calc(var(--size) + 4px;);
  color: var(--link-color);
}

h5 {
  font-size: var(--size);
  color: var(--text-secondary);
}

p {
  color: var(--text-primary);
}

h1 {
  font-size: calc(var(--size) + 20px;);
  color: var(--text-secondary);
}

h2 {
  font-size: calc(var(--size) + 16px;);
  color: var(--text-secondary);
}

h3 {
  font-size: calc(var(--size) + 12px;);
  color: var(--text-secondary);
}

h4 {
  font-size: calc(var(--size) + 8px;);
  color: var(--text-secondary);
}

// 44x44px for clickable objects
button {
    height: 44px;
    width: 44px;
}
